.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.terrain-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.terrain-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}


.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
